<header>
    <nav>
        <div class="links">
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
        <div class="lang">
           <p>EN</p>
        </div>
    </nav>
</header>